@using Westwind.Globalization
@{
  const string resourceSet = "cli_Contacts";
  ViewData["Title"] = @DbRes.T("Page_Title", @resourceSet);
}

<!-- ======= Contact Us Section ======= -->
<section id="contact" class="contact">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2>@DbRes.T("Header1_Text", @resourceSet)</h2>
      <p>@DbRes.T("Header2_Text", @resourceSet)</p>
    </div>

    <div class="row">

      <div class="col-lg-5 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="info">
          <div class="address">
            <i class="icofont-google-map"></i>
            <h4>@DbRes.T("Location_Text", @resourceSet):</h4>
            <p>Dělnická 213/12, 170 00 Praha 7-Holešovice, Czech Republic</p>
          </div>

          <div class="email">
            <i class="icofont-envelope"></i>
            <h4>@DbRes.T("Email_Text", @resourceSet):</h4>
            <p>info@uniondistribution.eu</p>
          </div>

          <div class="phone">
            <i class="icofont-phone"></i>
            <h4>@DbRes.T("Phone_Text", @resourceSet):</h4>
            <p>+420 602 868 228</p>
          </div>

          <iframe src="https://maps.google.com/maps?q=D%C4%9Blnick%C3%A1%20213/12,%20170%2000%20Praha%207-Hole%C5%A1ovice,%20Czech%20Republic&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
        </div>
      </div>

      <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
        <form class="php-email-form" method="post" action='@Url.Action("Contacts_Submit", "Home")'>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="name">@DbRes.T("CustomerName_Text", @resourceSet)</label>
              <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="@DbRes.T("CustomerName_Hint", @resourceSet)" />
              <div class="validate"></div>
            </div>
            <div class="form-group col-md-6">
              <label for="name">@DbRes.T("CustomerEmail_Text", @resourceSet)</label>
              <input type="email" class="form-control" name="email" id="email" data-rule="email" data-msg="@DbRes.T("CustomerEmail_Hint", @resourceSet)" />
              <div class="validate"></div>
            </div>
          </div>
          <div class="form-group">
            <label for="name">@DbRes.T("Subject_Text", @resourceSet)</label>
            <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4" data-msg="@DbRes.T("Subject_Hint", @resourceSet)" />
            <div class="validate"></div>
          </div>
          <div class="form-group">
            <label for="name">@DbRes.T("Message_Text", @resourceSet)</label>
            <textarea class="form-control" name="message" rows="10" data-rule="required" data-msg="@DbRes.T("Message_Hint", @resourceSet)"></textarea>
            <div class="validate"></div>
          </div>
          <div class="mb-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">@DbRes.T("MessageSent_Text", @resourceSet)</div>
          </div>
          <div class="text-center"><button type="submit">@DbRes.T("btnSend_Text", @resourceSet)</button></div>
        </form>
      </div>
    </div>
  </div>
</section><!-- End Contact Us Section -->
